<!DOCTYPE html>
<html lang="en">
<head>
    <html lang="pt-BR">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../style/styleH.css" rel="stylesheet">
</head>
<body>

  <header>
    <div class="container-logo">
      <div class="logo-imagem">
        <img src="../pics/logo5050.png" alt="Logo">
      </div>

    </div>

    <div class="menu">
      <ul>
        <li><a href="../views/login.html">Login </a></li>
        <li><a href="../views/registro.html">Registro </a></li>
      </ul>
</header>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href='' rel='stylesheet' type='text/css'>
  <div style='text-align:center;'>

  </div>
      <div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">
  
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
              <div class="item active">
                  <div class="carousel-caption">
                    <img src="../pics/roda.png" alt="Roda">
                    <p>Transporte é, e sempre foi um dos maiores problemas na logistica da humanidade. Para tentar resolve-lo em grande escala, foi inventada desde a roda, até 
                      locomotivas gigantes e aviões últra tecnológicos.</p>
                  </div>
              </div>
              <div class="item"> 
                  <div class="carousel-caption">
                    <img src="../pics/carona.png" alt="Carona">
                    <p>Mas, se pensarmos em algo em menor escala, como em uma universidade por exemplo, permanecemos por um longo periodo parados no tempo. Para os que tem condições de comprar e manter, temos um carro, que na maioria das vezes transitará com apenas uma pessoa;
                       aqueles que não tem a condição, podem desfrutar do transporte público; cheio e desconfortável. Paralelo a isso, temos serviços como a Uber, que apesar
                       de confortaveis, tem ficado cada vez mais caros e inacessiveis. Mas... E se pudessemos conectar aqueles que sofrem com o desconforto dos transportes publicos,
                       ajudando um pouco aqueles que pagam caro em seus carros?</p>
                  </div>
              </div>
              <div class="item"> 
                  <div class="carousel-caption">
                    <img src="../pics/PUCRESIZED.png">
                    <h3>Então apresentamos: PUC lift!</h3>
                    <p>Estamos aqui então começando pequeno, como um meio simmples dos alunos da PUC dividirem seu meio de transporte, fazer amizades, e ainda ganhar um dinheiro no processo, com um site de caronas simples, fácil e prático!</p>
                  </div>
              </div>
          </div>
  
          <!-- Controls -->
          <a class="left carousel-control" href="#carouselFade" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carouselFade" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>

</html>