<!DOCTYPE html>
<html lang="en">
<head>
    <html lang="pt-BR">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="C:\Users\Ícaro Arruda\Documents\Faculdade\PucLift\sg_n_2022-1-puc-lift\Puc Lift\style\style.css" rel="stylesheet">
</head>
<body>

  <header>
      <div class="container-logo">
        <div class="logo-imagem"></div>
          <a href="file:///C:\Users\Ícaro Arruda\Documents\Faculdade\PucLift\sg_n_2022-1-puc-lift\Puc Lift\views/home.html"><img src="C:\Users\Ícaro Arruda\Documents\Faculdade\PucLift\sg_n_2022-1-puc-lift\Puc Lift\pics\logo5050.png" alt="Logo">
        </div>
      </div>


      <div class="menu">
        <ul>
          <li><a href="file:///C:\Users\Ícaro Arruda\Documents\Faculdade\PucLift\sg_n_2022-1-puc-lift\Puc Lift\views/registro.html">Não tem conta ? </a></li>
  </header>
    
  <div class="login-page">
    <div class="form">
      <h1>Login</h1>
    </br>
      <p>Mantenha suas informações privadas. Nunca pediremos sua senha.</p>
  </br>
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="Senha" placeholder="Senha"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Entrar</a></p>
      </form>
      <form class="login-form">
        <input type="text" placeholder="E-mail ou matrícula"/>
        <input type="Senha" placeholder="Senha"/>
        <button>Entrar</button>
        <p class="message"><a href="#">Esqueceu sua senha?</a></p>
      </form>
    </div>
  </div>
</body>

</html>