<!DOCTYPE html>
<html lang="en">
<head>
    <html lang="pt-BR">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../style/style.css" rel="stylesheet">
</head>
<body>

  <header>
      <div class="container-logo">
        <div class="logo-imagem"></div>
          <a href="../views/home.html"><img src="../pics/logo5050.png" alt="Logo"></a>
        </div>
      </div>


      <div class="menu">
        <ul>
          <li><a href="../views/registro.html">Não tem conta ? </a></li>
        </ul>
      </div>
  </header>
    
  <div class="login-page">
    <div class="form">
      <h1>Login</h1>
    </br>
      <p>Mantenha suas informações privadas. Nunca pediremos sua senha.</p>
  </br>
      <div  id="formulario" class="login-form">
        <input id="email" type="text" placeholder="E-mail"/>
        <input id="senha" type="Senha" placeholder="Senha"/>
        <button onclick="login();">Entrar</button>
        <p class="message"><a href="#">Esqueceu sua senha?</a></p>
      </div >
    </div>
  </div>
</body>

<script type="text/javascript" src="../JS/login.js"></script>

</html>